In [17]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

from sklearn.model_selection import train_test_split

In [2]:
print('Python Version: {}'.format(sys.version))
print('Numpy Version: {}'.format(np.__version__))
print('Pandas Version: {}'.format(pd.__version__))

Python Version: 3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]
Numpy Version: 1.16.4
Pandas Version: 0.24.2

In [3]:
data = pd.read_excel('datasets/1553768847_housing.xlsx')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null int64
total_rooms           20640 non-null int64
total_bedrooms        20433 non-null float64
population            20640 non-null int64
households            20640 non-null int64
median_income         20640 non-null float64
ocean_proximity       20640 non-null object
median_house_value    20640 non-null int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [5]:
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
5,-122.25,37.85,52,919,213.0,413,193,4.0368,NEAR BAY,269700
6,-122.25,37.84,52,2535,489.0,1094,514,3.6591,NEAR BAY,299200
7,-122.25,37.84,52,3104,687.0,1157,647,3.1200,NEAR BAY,241400
8,-122.26,37.84,42,2555,665.0,1206,595,2.0804,NEAR BAY,226700
9,-122.25,37.84,52,3549,707.0,1551,714,3.6912,NEAR BAY,261100

In [6]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

print("Shape of independent (X): {}".format(X.shape))
print("Shape of dependent (y): {}".format(y.shape))

Shape of independent (X): (20640, 9)
Shape of dependent (y): (20640,)

In [7]:
X.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [8]:
print("Total Bedrooms (Statistics): {}".format(X['total_bedrooms'].describe()))
print("Total Bedrooms (Median): {}".format(X['total_bedrooms'].median()))
print("Total Bedrooms (Mode): {}".format(X['total_bedrooms'].mode()))

Total Bedrooms (Statistics): count    20433.000000
mean       537.870553
std        421.385070
min          1.000000
25%        296.000000
50%        435.000000
75%        647.000000
max       6445.000000
Name: total_bedrooms, dtype: float64
Total Bedrooms (Median): 435.0
Total Bedrooms (Mode): 0    280.0
dtype: float64

In [9]:
X = X.fillna(value=int(X['total_bedrooms'].mean()), axis=1)
X.info()
X.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null int64
total_rooms           20640 non-null int64
total_bedrooms        20640 non-null float64
population            20640 non-null int64
households            20640 non-null int64
median_income         20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(4), int64(4), object(1)
memory usage: 1.4+ MB

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
dtype: int64

In [10]:
y.isnull().sum()

0

In [14]:
X['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [16]:
X = pd.get_dummies(X, columns=["ocean_proximity"])
X.info()
X.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 13 columns):
longitude                     20640 non-null float64
latitude                      20640 non-null float64
housing_median_age            20640 non-null int64
total_rooms                   20640 non-null int64
total_bedrooms                20640 non-null float64
population                    20640 non-null int64
households                    20640 non-null int64
median_income                 20640 non-null float64
ocean_proximity_<1H OCEAN     20640 non-null uint8
ocean_proximity_INLAND        20640 non-null uint8
ocean_proximity_ISLAND        20640 non-null uint8
ocean_proximity_NEAR BAY      20640 non-null uint8
ocean_proximity_NEAR OCEAN    20640 non-null uint8
dtypes: float64(4), int64(4), uint8(5)
memory usage: 1.4 MB

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41,880,129.0,322,126,8.3252,0,0,0,1,0
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,0,0,0,1,0
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,0,0,0,1,0
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,0,0,0,1,0
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,0,0,0,1,0
5,-122.25,37.85,52,919,213.0,413,193,4.0368,0,0,0,1,0
6,-122.25,37.84,52,2535,489.0,1094,514,3.6591,0,0,0,1,0
7,-122.25,37.84,52,3104,687.0,1157,647,3.1200,0,0,0,1,0
8,-122.26,37.84,42,2555,665.0,1206,595,2.0804,0,0,0,1,0
9,-122.25,37.84,52,3549,707.0,1551,714,3.6912,0,0,0,1,0

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("X_train Shape: {}".format(X_train.shape))
print("X_test Shape: {}".format(X_test.shape))
print("y_train Shape: {}".format(y_train.shape))
print("y_test Shape: {}".format(y_test.shape))

X_train Shape: (16512, 13)
X_test Shape: (4128, 13)
y_train Shape: (16512,)
y_test Shape: (4128,)

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
scaler = StandardScaler()
X_train_tr = scaler.fit_transform(X_train)
X_test_tr = scaler.fit_transform(X_test)

print("X_train_tr Shape: {}".format(X_train_tr.shape))
print("X_test_tr Shape: {}".format(X_test_tr.shape))

X_train_tr Shape: (16512, 13)
X_test_tr Shape: (4128, 13)

In [33]:
from sklearn.linear_model import LinearRegression

In [44]:
ln_reg = LinearRegression()
ln_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
ln_reg.coef_
ln_reg.intercept_

-2256620.7988545806

In [55]:
predictions = ln_reg.predict(X_test)

array([[ 64539.96722887],
       [134709.85726707],
       [265973.89782155],
       ...,
       [439180.98341181],
       [120797.55240621],
       [183386.04993584]])

In [58]:
ln_reg.score(predictions, y_test)

AttributeError: 'Series' object has no attribute 'reshape'