<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Summer Olympics, London 2012 dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [1]:
#Import the necessary library
import numpy as np

In [2]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
olympics_london_2012 = np.array([
        ["Great Britain", "GBR", 2012, 29, 17, 19],
        ["China", "CHN", 2012, 38, 28, 22],
        ["Russia","RUS", 2012, 24, 25, 32],
        ["United States", "US", 2012, 46, 28, 29],
        ["Korea", "KOR", 2012, 13, 8, 7],
        ["Japan", "JPN", 2012, 7, 14, 17],
        ["Germany", "GER", 2012, 11, 11, 14]
    ])

#### Find the country with maximum gold medals

In [3]:
#Use the argmax() method to find the highest number of gold medals
max_gold_index = olympics_london_2012[:,3].astype('int').argmax()
max_gold_index

3

In [4]:
#Print the name of the country
olympics_london_2012[max_gold_index,0]

'United States'

#### Find the countries with more than 20 gold medals

In [5]:
#Use Boolean indexing technique to find the required output
more_than_20_gold_medals = olympics_london_2012[:,3].astype('int') > 20
print(olympics_london_2012[more_than_20_gold_medals,1])

['GBR' 'CHN' 'RUS' 'US']

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [6]:
#Use a for loop to create the required output
for i in range(len(olympics_london_2012)):
    print("Country: {}, Gold: {}, Total: {}".format(olympics_london_2012[i][1], olympics_london_2012[i][3].astype('int'), 
                                                    olympics_london_2012[i][4].astype('int') + 
                                                    olympics_london_2012[i][5].astype('int')))

Country: GBR, Gold: 29, Total: 36
Country: CHN, Gold: 38, Total: 50
Country: RUS, Gold: 24, Total: 57
Country: US, Gold: 46, Total: 57
Country: KOR, Gold: 13, Total: 15
Country: JPN, Gold: 7, Total: 31
Country: GER, Gold: 11, Total: 25